#game-field-presenter {
  line-height: 10px;
}

#game-field-presenter .tile {
  display: inline-block;
  width: 20px;
  height: 20px;
}

#game-field-presenter .tile.tile-1 {
  background-color: lightgray;
}

#game-field-presenter .tile.tile-2 {
  background-color: #BC4A3C;
}

#game-field-presenter .tile.tile-3 {
  background-color: black;
}

#game-field-presenter .tile.tile-4 {
  background-color: #4dbc3c;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}